.landing-wrapp {
  height: 100vh;
  min-height: 100vh;
  background-image: url("/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  isolation: isolate;
  overflow: hidden;
}
.floating {
  animation: float 3s ease-in-out infinite alternate;
  position: absolute;
  user-select: none;
  pointer-events: none;
  z-index: -1;
}
@keyframes float {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(30px);
  }
}
.egg1 {
  right: 0;
  top: -20px;
  animation-delay: 0.5s;
}
.egg2 {
  left: 10px;
  animation-delay: 1.3s;
  bottom: 0;
  opacity: 0.7;
}
.egg3 {
  left: 20%;
  animation-delay: 0s;
  bottom: 40%;
}
.egg4 {
  animation-delay: 1.9s;
  left: 0;
  top: 0;
}
.egg5 {
  animation-delay: 0.2s;
  right: 8%;
  bottom: 18%;
}
.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}
.landing-div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 1400px;
  padding-inline: 20px;
  height: 100%;
  z-index: 2;
  isolation: isolate;
}
.connect-div {
  position: absolute;
  z-index: 4;
  top: 0px;
  right: 0;
  transform: scale(0.7);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.connect-div:hover {
  transform: scale(0.9);
}
.connect-bg {
  width: 100%;
  max-width: 200px;
  object-fit: contain;
}
.connect-text {
  width: 100%;
  max-width: 130px;
  object-fit: contain;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}
.drippy {
  z-index: -1;
  position: absolute;
  width: 100%;
  object-fit: contain;
  top: 0;
  left: 0;
}
.center-landing {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  padding-top: 6vh;
}
.logo {
  width: 100%;
  max-width: 40vh;
  object-fit: contain;
}
.genesis {
  width: 100%;
  max-width: 30vh;
  object-fit: contain;
  margin-top: 10px;
}
.mint-div {
  position: relative;
  cursor: pointer;
  width: 100%;
  margin-top: -20px;
  transition: all 0.5s ease-in-out;
}
.mint-div:hover {
  transform: scale(1.1);
}
.mint-bg {
  width: 40vh;
  object-fit: contain;
}
.mint-text {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  max-width: 17vh;
  transform: translate(-50%, -50%);
}
.chicken-div {
  position: relative;
  width: 100%;
  margin-top: auto;
  height: 300px;
  max-width: 800px;
  isolation: isolate;
}
.chicken-div img {
  height: 300px;
  object-fit: contain;
  position: absolute;
  bottom: 0;
  transition: all 0.5s ease-in-out;
}
.chicken-div img:nth-child(1) {
  left: 7%;
  z-index: -2;
}
.chicken-div img:nth-child(2) {
  left: 18%;
  z-index: -1;
}
.chicken-div img:nth-child(3) {
  transform: translateX(-50%);
  left: 49%;
}
.chicken-div img:nth-child(4) {
  right: 20%;
  z-index: -1;
}
.chicken-div img:nth-child(5) {
  right: 9%;
  z-index: -2;
}
.chicken-div img:not(:nth-child(3)):hover {
  z-index: 1;
  transform: scale(1.2) translateY(-20px);
}
.chicken-div img:nth-child(3):hover {
  z-index: 1;
  transform: translateX(-50%) translateY(-20px) scale(1.2);
}
.left-btns {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  position: absolute;
  z-index: 4;
  left: 10%;
  top: 50%;
  transform: translateY(-50%);
}
.btn-div {
  position: relative;
  margin: -80px 0px;
  transform: scale(0.7);
  transition: all 0.7s ease-in-out;
  cursor: pointer;
  margin-left: -60px;
}
.btn-div:hover {
  transform: scale(0.9);
}

.btn-bg {
  width: 100%;
  max-width: 300px;
  object-fit: contain;
}
.btn-text {
  width: 100%;
  max-width: 130px;
  object-fit: contain;
  position: absolute;
  left: 46%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.menu-toggle {
  display: none;
}
.mint-amount {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
  margin-top: -20px;
  position: relative;
  z-index: 20;
}
.mint-wrapp {
  display: flex;
  justify-content: center;
  align-items: center;
}
.calc-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.calc-div p {
  border-radius: 50%;
  background-color: #0b8179;
  width: 6vh;
  line-height: 1;
  aspect-ratio: 1/1;
  display: grid;
  place-items: center;
  font-size: 3vh;
  cursor: pointer;
  user-select: none;
  color: white;
  font-weight: bold;
}
.amount {
  width: 9vh;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: #0b8179;
  display: grid;
  place-items: center;
  font-weight: bold;
  font-size: 4vh;
  color: white;
  font-weight: 900;
}
@media screen and (max-width: 750px) {
  .landing-div {
    height: auto;
    overflow: auto;
  }
  .chicken-div {
    height: 200px;
    margin-top: auto;
    width: 450px;
  }
  .chicken-div img {
    height: 200px;
  }
  .chicken-div img:nth-child(1) {
    left: 0%;
  }
  .chicken-div img:nth-child(2) {
    left: 16%;
  }
  .chicken-div img:nth-child(3) {
    transform: translateX(-50%);
    left: 53%;
  }
  .chicken-div img:nth-child(4) {
    right: 9%;
  }
  .chicken-div img:nth-child(5) {
    right: 0%;
  }
  .center-landing {
    padding-top: 140px;
  }
  .logo {
    max-width: 300px;
  }
  .genesis {
    max-width: 200px;
  }
  .mint-bg {
    max-width: 350px;
  }
  .mint-text {
    max-width: 170px;
  }
  .connect-div {
    top: 0px;
  }
  .floating {
    max-width: 200px;
  }
  .egg2 {
    left: 0;
  }
  .egg3 {
    left: 0;
  }
  .egg5 {
    right: 0;
  }
  .left-btns {
    left: 0%;
  }
  .mint-wrapp {
    flex-direction: column;
  }
}
@media screen and (max-width: 480px) {
  .center-landing {
    padding-top: 150px;
  }
  .chicken-div {
    max-width: 375px;
    width: 100%;
    height: 180px;
    margin-top: 190px;
  }
  .chicken-div img {
    height: 180px;
  }
  .chicken-div img:nth-child(1) {
    left: 0%;
  }
  .chicken-div img:nth-child(2) {
    left: 13%;
  }
  .chicken-div img:nth-child(3) {
    left: 50%;
  }
  .chicken-div img:nth-child(4) {
    right: 10%;
  }
  .chicken-div img:nth-child(5) {
    right: 0%;
  }

  .btn-div {
    margin: -70px 0px;
  }
  .menu-toggle {
    position: absolute;
    top: 20px;
    left: 20px;
    display: block;
    color: white;
    z-index: 20;
    font-size: 35px;
    cursor: pointer;
  }
  .left-btns {
    position: fixed;
    top: 0;
    left: -500px;
    transition: all 1s ease-in-out;
    height: 100vh;
    background-color: #0b8179bd;
    width: 300px;
    backdrop-filter: blur(5px);
    transform: none;
    z-index: 19;
    padding-top: 90px;
    overflow-y: auto;
  }
}
@media screen and (max-width: 400px) {
  .left-btns {
    width: 100%;
    align-items: center;
  }
}
